* {
    padding: 0;
    margin: 0;
    font-family: sans-serif;
    box-sizing: border-box;
}

/* corpo do site */
body {
    display: grid;
    place-items: center;
    height: 100vh;
    background-color: rgb(0, 0, 0);
}

/* div container all */
#container {
    height: 400px;
    width: 1200px;
    position: relative;
    overflow: hidden;
}

/* gato */
#container #cat {
    height: 70px;
    width: 70px;
    position: absolute;
    bottom: 28px;
    left: 20px;
}

#container #cat img {
    height: 75px;
    width: auto;
}

/* velocidade de animação do gato */
.catActive {
    animation: animateCat 0.5s linear infinite;
}

@keyframes animateCat {

    0%,
    100% {
        bottom: 28px;
    }

    45%,
    55% {
        bottom: 160px;
    }
}

/* gato block */
#container #block {
    height: 80px;
    width: 125px;
    position: absolute;
    bottom: 20px;
    right: -20px;
}

#container #block img {
    height: 65px;
    width: auto;
    transform: scaleX(-1);
}

.blockActive {
    animation: blockAnimate 1.5s linear infinite;
}

@keyframes blockAnimate {
    0% {
        right: -125px;
    }

    100% {
        right: 100%;
    }
}

/* chão */
#container #road {
    height: 30px;
    width: 1200px;
    position: absolute;
    bottom: 0;
}

#container #road img {
    height: 30px;
    width: 2000px;
    position: absolute;
    left: 0;
    animation: none;
    background-repeat: repeat;
}

@keyframes roadAnimate {
    0% {
        left: 0;
    }

    100% {
        left: -800px;
    }
}

/* nuvem */
#container #cloud {
    height: 80px;
    width: 1200px;
    border-radius: 40px;
    position: absolute;
    top: 30px;
}

#container #cloud img {
    height: 80px;
    width: 2000px;
    position: absolute;
    left: -200px;
    animation: none;
}


@keyframes cloudAnimate {
    0% {
        left: -200px;
    }

    100% {
        left: 100%;
    }
}

/* placar - pontuação */
#score {
    height: auto;
    width: auto;
    position: absolute;
    top: 20px;
    right: 0;
    color: white;
}

/* fim de jogo */
#gameOver {
    display: none;
    font-size: 70px;
    position: absolute;
    left: calc(50% - 181px);
    top: calc(50% - 40px);
    width: 362px;
    height: 80px;
    color: #525252;
}